/*index html ----------------------------------------*/

body {
  font-family: "Open Sans";
  /* smenigo sys font-family: "Myriad Pro"; */
  /*font-family: 'Roboto Condensed', sans-serif;*/
}

a,
button,
select {
  cursor: pointer;
}


/* pod4etavaneeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee*/

footer a {
  display: inline-block;
  position: relative;
  padding-bottom: 3px;
}

footer a:after {
  content: '';
  display: block;
  margin: auto;
  height: 2px;
  width: 0px;
  background: transparent;
  transition: width .5s ease, background-color .5s ease;
}

footer a:hover:after {
  width: 100%;
  background: #d6d6c2;
}

footer a:hover {
  color: #d6d6c2 !important;
}


/* do tuk eeeeeeeeeeeeeeeeeeeeeeeeeeeee pod4ertavanetooooooooooooooooooo*/

.navbar-custom {
  background-color: #76c7c0;
  background-image: url("./Pictures/Path.png");
  background-repeat: no-repeat;
  background-position: bottom;
  font-family: "Open Sans";
  padding-left: 10%;
  transition: padding-left 1s ease;
}

.navbar-custom i {
  pointer-events: none;
}

@media (max-width: 848px) {
  .navbar-custom {
    padding-left: 5%;
  }
}

@media (max-width: 767px) {
  .navbar-custom {
    padding-left: 10px;
  }
}

.brand-custom {
  font-size: 25px;
  padding-bottom: 8px;
  color: white;
}

.brand-custom b {
  font-size: 30px;
}

.nav-item-custom {
  margin-right: 10px;
}

.nav-link-custom {
  color: white !important;
  text-transform: uppercase;
  display: inline-block;
}

@media (max-width: 767px) {
  .nav-link-custom {
    display: block;
  }
}

.auth-container {
  margin-left: 350px;
  transition: all 1s ease;
}

.nav-link-active {
  background-color: #65a4a3;
  border-bottom: 3px solid #4b8d8a;
  border-radius: 5px;
}

@media (max-width: 767px) {
  .nav-link {
    padding-left: 5px !important;
  }
}

.collapse {
  padding-left: 10%;
  transition: padding-left 1.5s;
}

@media (max-width: 848px) {
  .collapse {
    padding-left: 5%;
  }
}

@media (max-width: 767px) {
  .collapse {
    padding-left: 0px;
  }
}

.nav-item-user {
  margin-left: 250px;
  transition: all 1s ease;
}

@media (max-width: 1200px) {
  .nav-item-user,
  .auth-container {
    margin-left: 100px;
  }
}

@media (max-width: 767px) {
  .nav-item-user,
  .auth-container {
    margin-left: 0px;
  }
}

#btn-logout {
  border-radius: 10px;
  margin-left: 10px;
}

@media (max-width: 767px) {
  #btn-logout {
    margin-top: 10px;
  }
}


/*Login=================================================================login*/

.modal-login {
  top: 80px;
}

.modal-login .modal-header {
  color: white;
  background-color: #02a299;
}

.modal-login .modal-title {
  letter-spacing: 5px;
}

.modal-login .modal-body {
  padding-bottom: 5px;
}

.modal-input-group {
  height: 45px;
  margin-top: 20px;
  border-bottom: 2px solid #02a299;
  border-radius: 15px;
  padding-left: 8px;
}

.modal-input-group .input-group-addon {
  border: 0px;
  background: transparent;
}

.modal-input {
  border: 0px;
  background: transparent;
  padding: 0px;
}

.modal-input:focus {
  border-radius: 15px;
}

.modal-login .modal-footer {
  text-align: center;
  justify-content: center;
}

.btn-login {
  background: #02a299;
  color: white;
  border-radius: 20px;
  width: 55%;
}

.modal-register-link {
  text-align: center;
  margin-top: 45px;
}

.modal-register-link a {
  color: lightslategrey;
  transition: all 0.7s;
}

.modal-register-link a:hover {
  color: black;
  text-decoration: none;
}


/*Register=============================================================== Register*/

.register-form {
  margin: 45px 20%;
  background-color: #ececec;
  width: 60%;
  transition: all 0.7s ease;
}

@media (max-width: 1200px) {
  .register-form {
    width: 80%;
    margin: 45px 10%;
  }
}

@media (max-width: 767px) {
  .register-form {
    width: 100%;
    margin: 0px;
  }
}

.register-input {
  opacity: 0.7;
  border: 0px;
  border-bottom: 2px solid #02a299;
  border-radius: 15px;
  margin-bottom: 15px;
  height: 45px;
}

.col-form-label {
  color: darkred;
}

.register-btn-container {
  text-align: center;
}

.register-checkbox {
  text-align: center;
}

.check-indicator {
  border: 2px solid #02a299;
}

.btn-register {
  border-radius: 20px;
  background: #02a299;
  margin: 20px;
  width: 50%;
}

.register-form .form-group {
  margin: 20px;
}

@media (max-width: 780px) {
  .register-form .form-group {
    margin: 0px;
  }
}

.register-form h1 {
  border: 1px solid #02a299;
  background: #02a299;
  color: white;
  font-size: 1.1em;
  text-align: center;
  padding: 1.2em;
  font-weight: 200;
  letter-spacing: 10px;
}

.register-title {
  font-size: 20px;
  color: #02a299;
  margin-top: 30px;
}


/*HOME ================================================================== HOME*/

.searching-menu {
  position: relative;
  top: -45px;
  color: white;
  max-width: 1200px;
  margin-right: 5%;
  margin-left: 5%;
  font-size: 18px;
  transition: margin-left .7s ease, margin-right .7s ease;
}

@media (max-width: 767px) {
  .searching-menu {
    margin-right: 0px;
    margin-left: 0px;
  }
}

@media (max-width: 767px) {
  .home-background {
    content: url("../css/Pictures/Quotefancy-69634-3840x2160.jpg");
    width: 100%;
  }
}

.nav-item-search-menu {
  width: 34%;
  text-align: center;
}

.nav-link-searh-menu {
  background-color: #4b8d8a;
  color: white;
  border-color: white !important;
  border-bottom-color: transparent !important;
}

@media (max-width: 430px) {
  .nav-link-searh-menu .fa {
    display: block;
  }
}

.searching-menu .active {
  background-color: #76c7c0 !important;
}

.searching-menu .tab-content .container-fluid {
  padding-left: 5%;
  padding-right: 5%;
  transition: padding-left .7s ease, padding-right .7s ease;
}

@media (max-width: 767px) {
  .searching-menu .tab-content .container-fluid {
    padding-right: 13px;
    padding-left: 13px;
  }
}

.searching-menu .tab-pane {
  border: 1px solid #4b8d8a;
  border-top: 0px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.searching-menu .form-control {
  /*border-radius: 0px;*/
  height: 40px !important;
}

.searching-menu .row div {
  margin-top: 17px;
}

.searching-menu label {
  margin: 0px;
}

.service-term {
  display: inline-block;
  width: 18%;
  text-align: center;
}

.red-frame {
  border: 2px solid red;
}


/*Result==================================================================   Result*/

.result-container {
  font-family: 'Roboto Condensed', sans-serif;
}

.result-searching-menu {
  margin-top: 30px;
  padding-left: 15px;
}

.banks-list-container {
  margin-top: 30px;
}

.btn-result-search {
  background-color: #ea645c;
  border-bottom: 3px solid #e4524b;
  color: white;
}

.bank-container {
  /*border: 1px solid #d6d6c2;*/
  text-align: center;
  margin-bottom: 35px;
  transition: 0.4s all;
  -webkit-transition: 0.4s all;
  -moz-transition: 0.4s all;
  -o-transition: 0.4s all;
}

.bank-container:hover {
  transform: scale(1.04) translateY(-5px);
}

.bank-img-container {
  border: 1px solid #d6d6c2;
  border-bottom: none;
  padding: 8px;
}

.bank-img {
  max-height: 40px;
}

.total-amount {
  background-color: #62A29E;
  color: white;
  font-size: 24px;
  text-transform: uppercase;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.total-amount span {
  font-size: 1.5em;
}

.service-info {
  list-style: none;
  padding: 0px;
  background-color: #e8e8e8;
}

.service-info li {
  padding: 10px 15px;
  border-bottom: 1px solid #d8d8d8;
  font-size: 14px;
  text-transform: uppercase;
  color: rgb(99, 99, 99);
}

.btn-credit {
  background: #565D67;
  color: #fff;
  margin: 15px;
  width: 45%;
}

.bank-container:hover .btn-credit {
  background: #E2534B;
}

.bank-container:hover .total-amount {
  background: #E2534B;
}


/* Promotion ============================================================= Promotion*/

.promotion-wrapper,
section {
  background-color: #ececec;
  padding-bottom: 45px;
}

.promotion-container {
  background-color: #f8f8f8;
  border-radius: 5px;
  text-align: center;
  border-bottom: 3px solid #e5e6e6;
  transition: all 0.5s ease;
  margin-bottom: 50px;
  padding: 0 10px;
}

.promotion-container:hover {
  transform: scale(1.04) translateY(-5px);
  background-color: white;
}

.promotion-logo {
  margin-top: 50px;
  color: #76c7c0;
}

.promotion-title {
  font-size: 16px;
  margin: 5px 0 35px;
  color: #7f8c8c;
  text-transform: uppercase;
  font-weight: bold;
}

.btn-promotion {
  color: white;
  background-color: #76c7c0;
  position: relative;
  bottom: -20px;
  width: 80%;
  height: 45px;
  transition: all 0.5s ease;
  border-bottom: 3px solid #62b9b0;
}

.promotion-container:hover .btn-promotion {
  background-color: #e8645a;
  border-color: #e2534b;
}

.promotion-container:hover .promotion-logo {
  color: #e8645a;
}


/* Banks promotion ======================================================= Bankk promotion*/

.banks-promotion-container {
  background-color: #e5e6e6;
  background-image: url("../css/Pictures/Path3.png");
  background-repeat: no-repeat;
  padding-top: 45px;
}

.banks-promotion-title {
  color: #e1524b;
  font-size: 40px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 45px;
}

.banks-promotion-item {
  border: 5px solid #c1c7c8;
  background-color: #c1c7c8;
  border-radius: 5px;
  padding: 0px;
  margin-bottom: 35px;
  transition: all 0.7s ease;
}


@media (max-width: 767px) {
  .banks-promotion-container .container {
    max-width: 422px;
  }
}

.banks-promotion-item:hover {
  transform: scale(1.2);
}

.banks-promotion-item img {
  border-radius: 5px;
}

.white-ball {
  background-color: white;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  display: inline-block;
  margin: 10px 0;
}

.float-ball {
  background-color: white;
  width: 15px;
  height: 7px;
  border-radius: 3px;
  display: inline-block;
  margin: 10px 0;
  float: right;
}

.title-bar {
  padding: 0 5px;
}


/*Banks Info ============================================================= Banks Info */

.bank-info-container {
  width: 30%;
  margin: 25px 25%;
  text-align: center;
  border: 1px solid #d6d6c2;
  border-radius: 5px;
  background-color: #f8f8f8;
}

.bank-info-container ul {
  list-style-type: none;
  padding: 0px;
}

.bank-info-title {
  display: inline-block;
  position: relative;
  top: -15px;
  background-color: white;
  padding: 0 10px;
  max-height: 50px;
}

.bank-info-item {
  border-bottom: 1px solid #02a299;
  width: 60%;
  margin: 25px 20%;
}

.bank-info-service {
  font-size: 20px;
  color: #02a299;
}


/*Contacts =============================================================== Contacts*/

.contacts-container {
  margin: 40px 8% 100px;
  color: #7f8c8c;
}

@media (max-width: 767px) {
  .contacts-container {
    margin: 40px 5% 100px;
  }
}

iframe {
  border-radius: 5px;
}

.contacts-info {
  background-color: #e5e6e6;
  padding: 20px 15px;
  margin: 60px 0;
  border-radius: 5px;
}

.contacts-form p {
  font-size: 20px;
  text-transform: uppercase;
  margin-bottom: 50px;
}

.contacts-input {
  display: inline-block;
  background-color: #e5e6e6;
  width: 55%;
  margin-right: 25px;
}

@media (max-width: 767px) {
  .contacts-input {
    width: 100%;
    height: 50px;
  }
}

.contacts-textarea {
  background-color: #e5e6e6;
  width: 85%;
  margin-bottom: 30px;
}

@media (max-width: 767px) {
  .contacts-textarea {
    width: 100%;
  }
}

.contacts-form .btn {
  width: 150px;
  height: 40px;
  margin-bottom: 80px;
}

@media (max-width: 767px) {
  .contacts-form .btn {
    width: 100%;
    height: 45px;
  }
}

.address h5 {
  font-size: 20px;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.address a {
  color: #E2534B;
  text-decoration: underline;
}

.fa-map-marker {
  color: #E2534B;
}


/*User Profile ============================================================== User Profile*/

.wrapper {
  display: flex;
  justify-content: center;
}

.user-profile-page {
  background-color: #e5e6e6;
  color: white;
  margin: 55px 0;
  width: 55%;
  border-radius: 5px;
  transition: all 0.7s ease;
}

@media (max-width: 1200px) {
  .user-profile-page {
    width: 75%;
  }
}

@media (max-width: 948px) {
  .user-profile-page {
    width: 80%;
  }
}

@media (max-width: 767px) {
  .user-profile-page {
    width: 100%;
    margin: 45px 0px;
  }
}

.profile-title-container {
  display: flex;
  justify-content: center;
}

.profile-title {
  background-color: #62A29E;
  letter-spacing: 5px;
  font-size: 30px;
  text-transform: uppercase;
  text-align: center;
  padding: 15px;
  border-radius: 5px;
  width: 50%;
  position: relative;
  top: -30px;
}

.user-profile-page .col-lg-6 {
  border-bottom: 1px solid #d8d8d8;
  font-size: 14px;
  text-transform: uppercase;
  color: rgb(99, 99, 99);
}

.user-profile-page .col-lg-6 {
  margin-bottom: 15px;
  padding-bottom: 10px;
}

.profile-label {
  border: none;
  background: #d8d8d8;
  color: darkred;
  transition: 0.8s ease;
}

.user-info {
  border: none;
  background-color: #d8d8d8;
  pointer-events: none;
  transition: all 0.8s ease;
  height: 45px;
}

.btn-profile-container {
  text-align: center;
}

.btn-profile {
  background-color: #62A29E;
  position: relative;
  bottom: -20px;
  width: 50%;
  height: 45px;
  text-transform: uppercase;
  letter-spacing: 3px;
  white-space: normal;
  transition: all 0.5s ease;
  color: white;
  border-bottom: 3px solid #4b8d8a;
}

.btn-profile:hover {
  transform: scale(1.1);
  background-color: #E2534B;
  border-color: #C03C35;
}


/*footer ================================================================= footer*/

footer {
  background-color: #76c7c0;
  background-image: url("./Pictures/Path2.png");
  background-repeat: no-repeat;
  background-position: top;
  color: white;
}

.main-footer {
  padding-left: 8%;
  padding-top: 20px;
  transition: padding-left .7s ease, padding-right .7s ease;
}

@media (max-width: 767px) {
  .main-footer {
    padding-left: 10px;
  }
}

.main-footer ul {
  list-style: none;
  padding: 15px;
  color: white;
}

.main-footer ul li a {
  padding-left: 10px;
  color: white;
  text-decoration: none;
}

.footer-italic {
  font-style: italic;
  font-size: 18px;
  font-weight: 600;
}

.footer-botom {
  background-color: #6ab3ac;
  padding: 15px;
  padding-left: 8%;
}

.footer-botom a {
  color: white;
  margin-left: 10px;
}

.flex {
  display: flex;
  align-items: center;
}

.flex-item-left {
  width: 80%;
}

.main-footer h4 {
  color: #3b6360;
  border-width: 2px;
  margin-top: 10px;
  font-size: 20px;
}

.rectangular {
  background-color: #4b8d8a;
  display: inline-block;
  background-image: url("./Pictures/rectan.png");
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 5px;
  width: 60px;
  height: 60px;
}

.footer-blog {
  display: inline-block;
}

.blog {
  margin-top: 10px;
}

.blog .row {
  margin-top: 20px;
}

.blog-grey {
  color: #4b8d8a;
}


/* //////////////////////////////////////////////////////////////////////////*/


/*smeni width navsqkadeeeeeeeeeeeeeeee*/

.slider {
  -webkit-appearance: none;
  margin: 10px 0;
  width: 80%;
}

.slider:focus {
  outline: none;
}

.slider::-webkit-slider-runnable-track {
  width: 100%;
  height: 7px;
  cursor: pointer;
  box-shadow: 0px 0px 8px #FF24B6;
  background: #1CD88D;
  border-radius: 20px;
  border: 0px solid #010101;
}

.slider::-webkit-slider-thumb {
  box-shadow: 0px 0px 6px #31051F;
  border: 0px solid #1E051C;
  height: 21px;
  width: 21px;
  border-radius: 28px;
  background: #FFFFFF;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7px;
}

.slider:focus::-webkit-slider-runnable-track {
  background: #1CD88D;
}

.slider::-moz-range-track {
  width: 100%;
  height: 7px;
  cursor: pointer;
  box-shadow: 0px 0px 8px #FF24B6;
  background: #1CD88D;
  border-radius: 20px;
  border: 0px solid #010101;
}

.slider::-moz-range-thumb {
  box-shadow: 0px 0px 6px #31051F;
  border: 0px solid #1E051C;
  height: 21px;
  width: 21px;
  border-radius: 28px;
  background: #FFFFFF;
  cursor: pointer;
}

.slider::-ms-track {
  width: 100%;
  height: 7px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

.slider::-ms-fill-lower {
  background: #1CD88D;
  border: 0px solid #010101;
  border-radius: 40px;
  box-shadow: 0px 0px 8px #FF24B6;
}

.slider::-ms-fill-upper {
  background: #1CD88D;
  border: 0px solid #010101;
  border-radius: 40px;
  box-shadow: 0px 0px 8px #FF24B6;
}

.slider::-ms-thumb {
  box-shadow: 0px 0px 6px #31051F;
  border: 0px solid #1E051C;
  height: 21px;
  width: 21px;
  border-radius: 28px;
  background: #FFFFFF;
  cursor: pointer;
}

.slider:focus::-ms-fill-lower {
  background: #1CD88D;
}

.slider:focus::-ms-fill-upper {
  background: #1CD88D;
}


/*=========================================*/

.progres {
  position: relative;
  height: 60px;
  background-color: #ececec;
  padding-left: 10%;
  color: #7F8C8C;
}

@media (max-width: 767px) {
  .progres {
    padding-left: 10px;
  }
}

.progres:after,
.progres:before {
  top: 100%;
  left: 10%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.progres:after {
  border-color: rgba(241, 241, 241, 0);
  border-top-color: #ececec;
  border-width: 12px;
  margin-left: -20px;
}