/*index html ----------------------------------------*/

body {
  font-family: "Open Sans";
  /*font-family: 'Roboto Condensed', sans-serif;*/
}

a {
  cursor: pointer;
}


/* pod4etavaneeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee*/

footer a {
  display: inline-block;
  position: relative;
  padding-bottom: 3px;
}

footer a:after {
  content: '';
  display: block;
  margin: auto;
  height: 2px;
  width: 0px;
  background: transparent;
  transition: width .5s ease, background-color .5s ease;
}

footer a:hover:after {
  width: 100%;
  background: #d6d6c2;
}

footer a:hover {
  color: #d6d6c2 !important;
}


/* do tuk eeeeeeeeeeeeeeeeeeeeeeeeeeeee pod4ertavanetooooooooooooooooooo*/

.navbar-custom {
  background-color: #76c7c0;
  background-image: url("./Pictures/Path.png");
  background-repeat: no-repeat;
  background-position: bottom;
  font-family: "Open Sans";
  padding-left: 8%;
  transition: padding-left 1s ease;
}

@media (max-width: 848px) {
  .navbar-custom {
    padding-left: 3%;
  }
}

@media (max-width: 767px) {
  .navbar-custom {
    padding-left: 5px;
  }
}

.brand-custom {
  font-size: 25px;
  padding-bottom: 8px;
  color: white;
}

.brand-custom b {
  font-size: 30px;
}

.nav-item-custom {
  margin-right: 10px;
}

.nav-link-custom {
  color: white !important;
  text-transform: uppercase;
  border-bottom: 3px solid #76c7c0;
  display: inline-block;
}

@media (max-width: 767px) {
  .nav-link-custom {
    display: block;
  }
}

.auth-container {
  margin-left: 350px;
  transition: all 1s ease;
}

.nav-link-custom:focus {
  background-color: #65a4a3;
  border-bottom: 3px solid #4b8d8a;
  border-radius: 5px;
}

.collapse {
  padding-left: 10%;
  transition: padding-left 1.5s;
}

@media (max-width: 848px) {
  .collapse {
    padding-left: 3%;
  }
}

@media (max-width: 767px) {
  .collapse {
    padding-left: 0px;
  }
}

.nav-item-user {
  margin-left: 250px;
  transition: all 1s ease;
}

@media (max-width: 1200px) {
  .nav-item-user,
  .auth-container {
    margin-left: 100px;
  }
}

@media (max-width: 767px) {
  .nav-item-user,
  .auth-container {
    margin-left: 0px;
  }
}

.user-logo {
  color: white;
}

#user-info {
  padding-left: 0px;
}

@media (max-width: 767px) {
  #user-info {
    display: inline-block;
  }
}

#btn-logout {
  border-radius: 15px;
}

@media (max-width: 767px) {
  #btn-logout {
    display: block;
  }
}


/*Login=================================================================login*/

.modal-login {
  top: 80px;
}

.modal-login .modal-header {
  color: white;
  background-color: #02a299;
}

.modal-login .modal-title {
  letter-spacing: 5px;
}

.modal-login .modal-body {
  padding-bottom: 5px;
}

.modal-input-group {
  height: 45px;
  margin-top: 20px;
  border-bottom: 2px solid #02a299;
  border-radius: 15px;
  padding-left: 8px;
}

.modal-input-group .input-group-addon {
  border: 0px;
  background: transparent;
}

.modal-input {
  border: 0px;
  background: transparent;
}

.modal-login .modal-footer {
  text-align: center;
  justify-content: center;
}

.modal-login .btn {
  background: #02a299;
  color: white;
  border-radius: 20px;
  width: 55%;
}

.modal-register-link {
  text-align: center;
  margin-top: 45px;
}

.modal-register-link a {
  color: lightslategrey;
  transition: all 0.7s;
}

.modal-register-link a:hover {
  color: darkslategrey;;
  text-decoration: none;
}


/*Register=============================================================== Register*/

.register-form {
  margin: 45px 10% 0;
}


/*HOME ================================================================== HOME*/

.searching-menu {
  position: relative;
  top: -45px;
  color: white;
  max-width: 1200px;
  margin-right: 5%;
  margin-left: 5%;
  font-size: 18px;
  transition: margin-left .7s ease, margin-right .7s ease;
}

@media (max-width: 767px) {
  .searching-menu {
    margin-right: 0px;
    margin-left: 0px;
  }
}

.nav-item-search-menu {
  width: 34%;
  text-align: center;
}

.nav-link-searh-menu {
  background-color: #4b8d8a;
  color: white;
  border-color: white !important;
  border-bottom-color: transparent !important;
}

.searching-menu .active {
  background-color: #76c7c0 !important;
}

.searching-menu .tab-content .container-fluid {
  padding-left: 4%;
  padding-right: 4%;
  transition: padding-left .7s ease, padding-right .7s ease;
}

@media (max-width: 767px) {
  .searching-menu .tab-content .container-fluid {
    padding-right: 13px;
    padding-left: 13px;
  }
}

.searching-menu .tab-pane {
  border: 1px solid #4b8d8a;
  border-top: 0px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.searching-menu .form-control {
  border-radius: 0px;
  height: 40px !important;
}

.searching-menu .row div {
  margin-top: 17px;
}

.searching-menu label {
  margin: 0px;
}

.service-term {
  display: inline-block;
  width: 18%;
  text-align: center;
}

.red-frame {
  border: 2px solid red;
}


/*Result==================================================================   Result*/

.result-container {
  font-family: 'Roboto Condensed', sans-serif;
}

.result-searching-menu {
  margin-top: 30px;
  padding-left: 15px;
}

.banks-list-container {
  margin-top: 30px;
}

.btn-result-search {
  background-color: #ea645c;
  border-bottom: 3px solid #e4524b;
  color: white;
}

.bank-container {
  /*border: 1px solid #d6d6c2;*/
  text-align: center;
  margin-bottom: 35px;
  transition: 0.4s all;
  -webkit-transition: 0.4s all;
  -moz-transition: 0.4s all;
  -o-transition: 0.4s all;
}

.bank-container:hover {
  transform: scale(1.04) translateY(-5px);
}

.bank-img-container {
  border-top: 1px solid #d6d6c2;
  border-left: 1px solid #d6d6c2;
  border-right: 1px solid #d6d6c2;
  padding: 8px;
  /*box-shadow: inset 0 0 45px grey;*/
}

.bank-img {
  max-height: 40px;
}

.total-amount {
  background-color: #62A29E;
  color: white;
  font-size: 24px;
  text-transform: uppercase;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.total-amount span {
  font-size: 1.5em;
}

.service-info {
  list-style: none;
  padding: 0px;
  background-color: #e8e8e8;
}

.service-info li {
  padding: 10px 15px;
  border-bottom: 1px solid #d8d8d8;
  font-size: 14px;
  text-transform: uppercase;
  color: rgb(99, 99, 99);
}

.btn-credit {
  background: #565D67;
  color: #fff;
  margin: 15px;
  width: 45%;
}

.bank-container:hover .btn-credit {
  background: #E2534B;
}

.bank-container:hover .total-amount {
  background: #E2534B;
}


/*Contacts =============================================================== Contacts*/

.contacts-container {
  margin: 40px 8% 100px;
  color: #7f8c8c;
}

@media (max-width: 767px) {
  .contacts-container {
    margin: 40px 5% 100px;
  }
}

iframe {
  border-radius: 5px;
}

.contacts-info {
  background-color: #e5e6e6;
  padding: 20px 15px;
  margin: 60px 0;
  border-radius: 5px;
}

.contacts-form p {
  font-size: 20px;
  text-transform: uppercase;
  margin-bottom: 50px;
}

.contacts-input {
  display: inline-block;
  background-color: #e5e6e6;
  width: 55%;
  margin-right: 25px;
}

@media (max-width: 767px) {
  .contacts-input {
    width: 100%;
    height: 50px;
  }
}

.contacts-textarea {
  background-color: #e5e6e6;
  width: 85%;
  margin-bottom: 30px;
}

@media (max-width: 767px) {
  .contacts-textarea {
    width: 100%;
  }
}

.contacts-form .btn {
  width: 150px;
  height: 40px;
  margin-bottom: 80px;
}

@media (max-width: 767px) {
  .contacts-form .btn {
    width: 100%;
    height: 45px;
  }
}

.address h5 {
  font-size: 20px;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.address a {
  color: #E2534B;
  text-decoration: underline;
}

.fa-map-marker {
  color: #E2534B;
}


/*footer ================================================================= footer*/

footer {
  background-color: #76c7c0;
  background-image: url("./Pictures/Path2.png");
  background-repeat: no-repeat;
  background-position: top;
  color: white;
}

.main-footer {
  padding-left: 8%;
  padding-top: 20px;
  transition: padding-left .7s ease, padding-right .7s ease;
}

@media (max-width: 767px) {
  .main-footer {
    padding-left: 10px;
  }
}

.main-footer ul {
  list-style: none;
  padding: 15px;
  color: white;
}

.main-footer ul li a {
  padding-left: 10px;
  color: white;
  text-decoration: none;
}

.footer-italic {
  font-style: italic;
  font-size: 18px;
  font-weight: 600;
}

.footer-botom {
  background-color: #6ab3ac;
  padding: 15px;
  padding-left: 8%;
}

.footer-botom a {
  color: white;
  margin-left: 10px;
}

.flex {
  display: flex;
}

.flex-item1 {
  width: 80%;
}

h4 {
  color: #3b6360;
  border-width: 2px;
  margin-top: 10px;
  font-size: 20px;
}


/* //////////////////////////////////////////////////////////////////////////*/


/*smeni width navsqkadeeeeeeeeeeeeeeee*/

.slider {
  -webkit-appearance: none;
  margin: 10px 0;
  width: 80%;
}

.slider:focus {
  outline: none;
}

.slider::-webkit-slider-runnable-track {
  width: 100%;
  height: 7px;
  cursor: pointer;
  box-shadow: 0px 0px 8px #FF24B6;
  background: #1CD88D;
  border-radius: 20px;
  border: 0px solid #010101;
}

.slider::-webkit-slider-thumb {
  box-shadow: 0px 0px 6px #31051F;
  border: 0px solid #1E051C;
  height: 21px;
  width: 21px;
  border-radius: 28px;
  background: #FFFFFF;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7px;
}

.slider:focus::-webkit-slider-runnable-track {
  background: #1CD88D;
}

.slider::-moz-range-track {
  width: 100%;
  height: 7px;
  cursor: pointer;
  box-shadow: 0px 0px 8px #FF24B6;
  background: #1CD88D;
  border-radius: 20px;
  border: 0px solid #010101;
}

.slider::-moz-range-thumb {
  box-shadow: 0px 0px 6px #31051F;
  border: 0px solid #1E051C;
  height: 21px;
  width: 21px;
  border-radius: 28px;
  background: #FFFFFF;
  cursor: pointer;
}

.slider::-ms-track {
  width: 100%;
  height: 7px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

.slider::-ms-fill-lower {
  background: #1CD88D;
  border: 0px solid #010101;
  border-radius: 40px;
  box-shadow: 0px 0px 8px #FF24B6;
}

.slider::-ms-fill-upper {
  background: #1CD88D;
  border: 0px solid #010101;
  border-radius: 40px;
  box-shadow: 0px 0px 8px #FF24B6;
}

.slider::-ms-thumb {
  box-shadow: 0px 0px 6px #31051F;
  border: 0px solid #1E051C;
  height: 21px;
  width: 21px;
  border-radius: 28px;
  background: #FFFFFF;
  cursor: pointer;
}

.slider:focus::-ms-fill-lower {
  background: #1CD88D;
}

.slider:focus::-ms-fill-upper {
  background: #1CD88D;
}


/*=========================================*/

.progres {
  position: relative;
  height: 60px;
  background-color: #ececec;
}

.progres:after,
.progres:before {
  top: 100%;
  left: 10%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.progres:after {
  border-color: rgba(241, 241, 241, 0);
  border-top-color: #ececec;
  border-width: 12px;
  margin-left: -20px;
}