/*index html ----------------------------------------*/

.navbar-custom {
  background-color: #76c7c0;
  background-image: url("./Pictures/Path.png");
  background-repeat: no-repeat;
  background-position: bottom;
  font-family: "Open Sans";
  padding-left: 8%;
}

@media (max-width: 848px) {
  .navbar-custom {
    padding-left: 3%;
  }
}

@media (max-width: 767px) {
  .navbar-custom {
    padding-left: 5px;
  }
}

.brand-custom {
  font-size: 25px;
  padding-bottom: 8px;
  color: white;
}

.brand-custom b {
  font-size: 30px;
}

.nav-link-custom {
  color: white !important;
  text-transform: uppercase;
  border-bottom: 3px solid #76c7c0;
}

.nav-link-custom:focus {
  background-color: #65a4a3;
  border-bottom: 3px solid #4b8d8a;
  border-radius: 5px;
}

.collapse {
  padding-left: 10%;
}

@media (max-width: 848px) {
  .collapse {
    padding-left: 3%;
  }
}

@media (max-width: 767px) {
  .collapse {
    padding-left: 0px;
  }
}


/*HOME ================================================================== HOME*/

.searching-menu {
  position: relative;
  top: -45px;
  max-width: 1200px;
  margin-right: 5%;
  margin-left: 5%;
}

@media (max-width: 767px) {
  .searching-menu {
    margin-right: auto;
    margin-left: auto;
  }
}

.nav-item-search-menu {
  width: 34%;
  text-align: center;
}

.nav-link-searh-menu {
  background-color: #4b8d8a;
  color: white;
  border-color: white !important;
  border-bottom-color: transparent !important;
}

.searching-menu .active {
  background-color: #76c7c0 !important;
}

#creditTerm {
  display: inline-block;
  width: 50px;
}

.red-frame {
  border: 1px solid red;
}


/*footer ================================================================= footer*/

footer {
  background-color: #76c7c0;
  background-image: url("./Pictures/Path2.png");
  background-repeat: no-repeat;
  background-position: top;
  color: white;
}

.main-footer {
  padding-left: 8%;
}

.footer-botom {
  background-color: #6ab3ac;
  padding: 15px;
  padding-left: 8%;
}

h4 {
  color: #3b6360;
  border-width: 2px;
}

h4:hover {
  text-decoration: underline;
}


/* //////////////////////////////////////////////////////////////////////////*/

#slider {
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
}

#slider:focus {
  outline: none;
}

#slider::-webkit-slider-runnable-track {
  width: 100%;
  height: 7px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 8px #FF24B6;
  background: #1CD88D;
  border-radius: 20px;
  border: 0px solid #010101;
}

#slider::-webkit-slider-thumb {
  box-shadow: 0px 0px 6px #31051F;
  border: 0px solid #1E051C;
  height: 21px;
  width: 21px;
  border-radius: 28px;
  background: #FFFFFF;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7px;
}

#slider:focus::-webkit-slider-runnable-track {
  background: #1CD88D;
}

#slider::-moz-range-track {
  width: 100%;
  height: 7px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 8px #FF24B6;
  background: #1CD88D;
  border-radius: 20px;
  border: 0px solid #010101;
}

#slider::-moz-range-thumb {
  box-shadow: 0px 0px 6px #31051F;
  border: 0px solid #1E051C;
  height: 21px;
  width: 21px;
  border-radius: 28px;
  background: #FFFFFF;
  cursor: pointer;
}

#slider::-ms-track {
  width: 100%;
  height: 7px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

#slider::-ms-fill-lower {
  background: #1CD88D;
  border: 0px solid #010101;
  border-radius: 40px;
  box-shadow: 0px 0px 8px #FF24B6;
}

#slider::-ms-fill-upper {
  background: #1CD88D;
  border: 0px solid #010101;
  border-radius: 40px;
  box-shadow: 0px 0px 8px #FF24B6;
}

#slider::-ms-thumb {
  box-shadow: 0px 0px 6px #31051F;
  border: 0px solid #1E051C;
  height: 21px;
  width: 21px;
  border-radius: 28px;
  background: #FFFFFF;
  cursor: pointer;
}

#slider:focus::-ms-fill-lower {
  background: #1CD88D;
}

#slider:focus::-ms-fill-upper {
  background: #1CD88D;
}