<div class="progres">

</div>

<div class="contacts-container">
    <div class="map-container">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5869.027003148295!2d23.37992882445068!3d42.65047256741017!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x9dcf2a89d173b821!2sTelerik+Academy!5e0!3m2!1sbg!2sbg!4v1489859799346"
            width="100%" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>

    <div class="contacts-info">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates voluptatum voluptatem amet accusamus ad praesentium,
        facilis! Et, iste, vitae? Possimus excepturi deleniti in harum perspiciatis ratione commodi dolorum cupiditate animi.
    </div>

    <form>
        <h3>Send Inquery</h3>
        <div class="form-group">
            <input type="text" name="" class="form-control contacts-input" value="" id="name">
            <label for="name">Name</label>
        </div>
        <div class="form-group">
            <input type="text" name="" class="form-control contacts-input" value="" id="name">
            <label for="name">Email</label>
        </div>
        <div class="form-group">
            <input type="text" name="" class="form-control contacts-input" value="" id="name">
            <label for="name">Web site</label>
        </div>
        <div class="form-group">
            <textarea rows="8" class="form-control contacts-textarea"></textarea>
        </div>

        <button type="button" class="btn btn-result-search">SEND</button>
    </form>

    <div class="address">
        <p>Address</p>
        
    </div>
</div>