<div class="central-img">
    <img src="../css/Pictures/test.jpg" class="img-fluid" alt="fon" id="fon">
</div>

<section>

    <div class="searching-menu">

        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item nav-item-search-menu">
                <a class="nav-link active nav-link-searh-menu" data-toggle="tab" href="#credits" role="tab">Credit</a>
            </li>
            <li class="nav-item nav-item-search-menu">
                <a class="nav-link nav-link-searh-menu" data-toggle="tab" href="#deposits" role="tab">Deposit</a>
            </li>
            <li class="nav-item nav-item-search-menu">
                <a class="nav-link nav-link-searh-menu" data-toggle="tab" href="#leasing" role="tab">Leasing</a>
            </li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div class="tab-pane active" id="credits" role="tabpanel">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3">
                            <label for="credit-type">Вид кредит</label>
                            <select class="form-control" id="credit-type">
                                <option selected>Моля изберете</option>
                                <option>Потребителски кредити</option>
                                <option>Ипотечен кредит</option>
                                <option>Жилищен кредит</option>
                            </select>
                        </div>
                        <div class="col-md-3">
                            <label for="credit-amount" class="mr-sm-2">Размер на кредита</label>
                            <input class="form-control mb-2 mr-sm-2 mb-sm-0" type="text" id="credit-amount">
                        </div>
                        <div class="col-md-3">
                            <label for="slider">Период за погасяване (месеци)</label>
                            <input type="range" min="12" max="36" step="3" value="12" id="slider" oninput="creditTerm.value = slider.value">
                            <input type="text" class="form-control" id="creditTerm" value="12">
                        </div>

                        <div class="col-md-2">
                            <label for="credit-currency">Валута</label>
                            <select class="form-control" id="credit-currency">
                                  <option selected>Моля изберете</option>
                                  <option>BGN</option>
                                  <option>EUR</option>
                                  <option>USD</option>
                           </select>
                        </div>

                        <div class="col-md-1">
                            <label for="">dd</label>
                            <button class="btn btn-success btn-block" id="btn-search-credit">Submit</button>
                            <a href="#/result" class="btn btn-success btn-block" id="search">eto go</a>
                        </div>
                    </div>
                </div>
            </div>


            <div class="tab-pane" id="deposits" role="tabpanel">
                <div>
                    dadadas
                </div>
            </div>

            <div class="tab-pane" id="leasing" role="tabpanel">
                <div>
                    lizing
                </div>
            </div>
        </div>


    </div>
</section>