<div class="home-background">
    <img src="../css/Pictures/test.jpg" class="img-fluid" alt="fon" id="fon">
</div>

<section>

    <div class="searching-menu">

        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item nav-item-search-menu">
                <a class="nav-link active nav-link-searh-menu" data-toggle="tab" href="#credits" role="tab">
                    <i class="fa fa-money fa-lg" aria-hidden="true"></i> Credit</a>
            </li>
            <li class="nav-item nav-item-search-menu">
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                <a class="nav-link nav-link-searh-menu" data-toggle="tab" href="#deposits" role="tab">
                    <i class="fa fa-line-chart fa-lg" aria-hidden="true"></i> Deposit</a>
            </li>
            <li class="nav-item nav-item-search-menu">
                <a class="nav-link nav-link-searh-menu" data-toggle="tab" href="#leasing" role="tab">
                    <i class="fa fa-hourglass-end fa-lg" aria-hidden="true"></i> Leasing</a>
            </li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div class="tab-pane fade show active" id="credits" role="tabpanel">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6">
                            <label for="credit-type">Вид кредит</label>
                            <select class="form-control" id="credit-type">
                                <option selected>Моля изберете</option>
                                <option>Потребителски кредити</option>
                                <option>Ипотечен кредит</option>
                                <option>Жилищен кредит</option>
                            </select>
                        </div>
                        <div class="col-md-4">
                            <label for="credit-amount" class="mr-sm-2">Размер на кредита</label>
                            <input class="form-control mb-2 mr-sm-2 mb-sm-0" type="text" id="credit-amount">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label for="creditSlider">Период за погасяване (месеци)</label>
                            <input type="range" min="12" max="36" value="12" id="creditSlider" class="slider" oninput="creditTerm.value = creditSlider.value">
                            <input type="text" class="form-control service-term" id="creditTerm" value="12">
                        </div>
                        <div class="col-md-4">
                            <label for="credit-currency">Валута</label>
                            <select class="form-control" id="credit-currency">
                                  <option selected>Моля изберете</option>
                                  <option>BGN</option>
                                  <option>EUR</option>
                                  <option>USD</option>
                           </select>
                        </div>
                        <div class="col-md-2">
                            <label for="">dd</label>
                            <button class="btn btn-success btn-block" id="btn-search-credit">Submit</button>
                            <a href="#/result" class="btn btn-success btn-block" id="search">eto go</a>
                        </div>
                    </div>
                </div>
            </div>


            <div class="tab-pane fade" id="deposits" role="tabpanel">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6">
                            <label for="deposit-type">Вид депозит</label>
                            <select class="form-control" id="deposit-type">
                                <option selected>Моля изберете</option>
                                <option>Потребителски кредити</option>
                                <option>Ипотечен кредит</option>
                                <option>Жилищен кредит</option>
                            </select>
                        </div>
                        <div class="col-md-4">
                            <label for="deposit-amount" class="mr-sm-2">Размер на депозита</label>
                            <input class="form-control mb-2 mr-sm-2 mb-sm-0" type="text" id="deposit-amount">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label for="sliderDeposit">Срок на депозита (месеци)</label>
                            <input type="range" min="12" max="36" value="12" id="sliderDeposit" class="slider" oninput="depositTerm.value = sliderDeposit.value">
                            <input type="text" class="form-control service-term" id="depositTerm" value="12">
                        </div>
                        <div class="col-md-4">
                            <label for="deposit-currency">Валута</label>
                            <select class="form-control" id="deposit-currency">
                                  <option selected>Моля изберете</option>
                                  <option>BGN</option>
                                  <option>EUR</option>
                                  <option>USD</option>
                           </select>
                        </div>
                        <div class="col-md-2">
                            <label for="">dd</label>
                            <button class="btn btn-success btn-block" id="btn-search-deposit">Submit</button>
                            <a href="#/result" class="btn btn-success btn-block" id="search">eto go</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="tab-pane fade" id="leasing" role="tabpanel">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6">
                            <label for="leasing-type">Вид лизинг</label>
                            <select class="form-control" id="leasing-type">
                                <option selected>Моля изберете</option>
                                <option>Потребителски кредити</option>
                                <option>Ипотечен кредит</option>
                                <option>Жилищен кредит</option>
                            </select>
                        </div>
                        <div class="col-md-4">
                            <label for="leasing-amount" class="mr-sm-2">Размер на депозита</label>
                            <input class="form-control mb-2 mr-sm-2 mb-sm-0" type="text" id="leasing-amount">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label for="leasingSlider">Срок на депозита (месеци)</label>
                            <input type="range" min="12" max="36" value="12" class="slider" id="leasingSlider" oninput="leasingTerm.value = leasingSlider.value">
                            <input type="text" class="form-control service-term" id="leasingTerm" value="12">
                        </div>
                        <div class="col-md-4">
                            <label for="leasing-currency">Валута</label>
                            <select class="form-control" id="leasing-currency">
                                  <option selected>Моля изберете</option>
                                  <option>BGN</option>
                                  <option>EUR</option>
                                  <option>USD</option>
                           </select>
                        </div>
                        <div class="col-md-2">
                            <label for="">dd</label>
                            <button class="btn btn-success btn-block" id="btn-search-leasing">Submit</button>
                            <a href="#/result" class="btn btn-success btn-block" id="search">eto go</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<article class="promotion-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="promotion-container">
                    <i class="fa fa-thumbs-o-up fa-3x promotion-logo"></i>
                    <h3 class="promotion-title">Only now 8% interest</h3>
                    <div> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse, modi ab possimus consequatur iste, fugiat
                        eligendi corrupti minus.

                    </div>
                    <button type="button" class="btn btn-promotion">Read more</button>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="promotion-container">
                    <i class="fa fa-lock fa-3x promotion-logo"></i>
                    <h3 class="promotion-title">Only now 8% interest</h3>
                    <div> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse, modi ab possimus consequatur iste, fugiat
                        eligendi corrupti minus.

                    </div>
                    <button type="button" class="btn btn-promotion">Read more</button>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="promotion-container">
                    <i class="fa fa-flag fa-3x promotion-logo"></i>
                    <h3 class="promotion-title">Only now 8% interest</h3>
                    <div> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse, modi ab possimus consequatur iste, fugiat
                        eligendi corrupti minus.

                    </div>
                    <button type="button" class="btn btn-promotion">Read more</button>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="promotion-container">
                    <i class="fa fa-flask fa-3x promotion-logo"></i>
                    <h3 class="promotion-title">Only now 8% interest</h3>
                    <div> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse, modi ab possimus consequatur iste, fugiat
                        eligendi corrupti minus.

                    </div>
                    <button type="button" class="btn btn-promotion">Read more</button>
                </div>
            </div>
        </div>
    </div>
</article>


<div class="banks-promotion-container">

    <h4 class="banks-promotion-title">Best banks offer</h4>

    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="banks-promotion-item">
                    <div class="title-bar">
                        <span class="white-ball"></span>
                        <span class="white-ball"></span>
                        <span class="white-ball"></span>
                        <span class="float-ball"></span>
                    </div>
                    <img src="../css/Pictures/slider1.jpg" alt="" class="img-fluid">
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="banks-promotion-item">
                    <div class="title-bar">
                        <span class="white-ball"></span>
                        <span class="white-ball"></span>
                        <span class="white-ball"></span>
                        <span class="float-ball"></span>
                    </div>
                    <img src="../css/Pictures/slider2.jpg" alt="" class="img-fluid">
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="banks-promotion-item">
                    <div class="title-bar">
                        <span class="white-ball"></span>
                        <span class="white-ball"></span>
                        <span class="white-ball"></span>
                        <span class="float-ball"></span>
                    </div>
                    <img src="../css/Pictures/slider3.jpg" alt="" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</div>