<div class="progres">
</div>

<div class="register-form">
    <h1>Please Register Your Details</h1>
    <div class="container-fluid">
        <form>
            <p class="register-title">Log In information</p>
            <div class="form-group row">
                <label for="register-email" class="col-md-2 col-sm-4 col-form-label">E-mail</label>
                <div class="col-md-10 col-sm-12">
                    <input type="email" class="form-control register-input" id="register-email" placeholder="you@example.com">
                </div>
            </div>
            <div class="form-group row">
                <label for="register-password" class="col-md-2 col-sm-4 col-form-label">Password</label>
                <div class="col-md-10 col-sm-12">
                    <input type="password" class="form-control register-input" id="register-password" placeholder="Password">
                </div>
            </div>
            <p class="register-title">Personal information</p>
            <div class="form-group row">
                <label for="register-name" class="col-md-2 col-sm-4 col-form-label">Name</label>
                <div class="col-md-10 col-sm-12">
                    <input type="text" class="form-control register-input" id="register-name" placeholder="Name">
                </div>
            </div>
            <div class="form-group row">
                <label for="register-last-name" class="col-md-2 col-sm-4 col-form-label">Last name</label>
                <div class="col-md-10 col-sm-12">
                    <input type="text" class="form-control register-input" id="register-last-name" placeholder="Last name">
                </div>
            </div>
            <div class="form-group row">
                <label for="register-UCN" class="col-md-2 col-sm-4 col-form-label">UCN</label>
                <div class="col-md-10 col-sm-12">
                    <input type="text" class="form-control register-input" id="register-ucn" placeholder="UCN">
                </div>
            </div>
            <div class="form-group row">
                <label for="register-phone" class="col-md-2 col-sm-4 col-form-label">Phone</label>
                <div class="col-md-10 col-sm-12">
                    <input type="number" class="form-control register-input" id="register-phone" placeholder="Phone">
                </div>
            </div>
            <div class="form-group row">
                <label for="register-city" class="col-md-2 col-sm-4 col-form-label">City</label>
                <div class="col-md-10 col-sm-12">
                    <input type="text" class="form-control register-input" id="register-city" placeholder="City">
                </div>
            </div>
            <div class="form-group row">
                <label for="register-address" class="col-md-2 col-sm-4 col-form-label">Address</label>
                <div class="col-md-10 col-sm-12">
                    <input type="text" class="form-control register-input" id="register-address" placeholder="Address">
                </div>
            </div>
            <div class="register-checkbox">
                <label class="custom-control custom-checkbox">
                     <input type="checkbox" class="custom-control-input">
                     <span class="custom-control-indicator"></span>
                     <span class="custom-control-description"> Accpet Privacy terms and conitions</span>
                     </label>
            </div>
        </form>
    </div>
    <div class="register-btn-container">
        <button type="button" class="btn btn-success btn-register">Register</button>
    </div>
</div>