<div class="result">
  
    <ul>
        {{#each this}} 

        <li>
            <div>
                <p>banka: {{@key}}</p>
                <p>potrebitelski кредиt лихва: {{credits.consumer.bgn}} </p>
                <img src="{{img}}" alt="" class="img-fluid">
            </div>
        </li>
    
        {{/each}}
    </ul>

</div>